openapi: 3.0.4
info:
  title: ContactBook Manager - OpenAPI 3.0
  description: |-
    This is a web server hosting the ContactBook Manager project for COP4331 for group 11 for the fall semester of 2025.
    - [Github](https://github.com/ryanengphoto/Lamp-Stack)
  termsOfService: https://swagger.io/terms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
servers:
  - url: https://lamp-stack4331.xyz/LAMPAPI
tags:
  - name: user
    description: Operations about the user
  - name: contacts
    description: Operations about the contactbook
paths:
  /user:
    post:
      tags: [user]
      summary: Create user
      operationId: createUser
      requestBody:
        $ref: '#/components/requestBodies/User'
      responses:
        '200':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /user/login:
    post:
      tags: [user]
      summary: Login user
      operationId: loginUser
      requestBody:
        description: Login credentials
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                password:
                  type: string
                  format: password
              required: [login, password]
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials
        default:
          $ref: '#/components/responses/ErrorResponse'

  /user/{login}:
    get:
      tags: [user]
      summary: Get user by login
      operationId: getUserByName
      parameters:
        - name: login
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
    delete:
      tags: [user]
      summary: Delete user
      operationId: deleteUser
      parameters:
        - name: login
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User deleted
        '404':
          description: User not found

  /contacts:
    get:
      tags: [contacts]
      summary: List all contacts
      operationId: listContacts
      responses:
        '200':
          description: Array of contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/Contact' }
                  errors:
                    type: array
                    items: { type: string }
    post:
      tags: [contacts]
      summary: Add a new contact
      operationId: addContact
      requestBody:
        $ref: '#/components/requestBodies/Contact'
      responses:
        '200':
          description: Contact creation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /contacts/bulk:
    post:
      tags: [contacts]
      summary: Add multiple contacts
      operationId: addContactsBulk
      requestBody:
        $ref: '#/components/requestBodies/Contacts'
      responses:
        '200':
          description: Bulk add results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /contacts/{id}:
    get:
      tags: [contacts]
      summary: Get contact by ID
      operationId: getContactById
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Contact not found
    put:
      tags: [contacts]
      summary: Update contact
      operationId: updateContact
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        $ref: '#/components/requestBodies/Contact'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      tags: [contacts]
      summary: Delete contact
      operationId: deleteContact
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /contacts/search:
    post:
      tags: [contacts]
      summary: Search contacts
      operationId: searchContacts
      requestBody:
        description: Search string and userId
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                userId:
                  type: integer
              required: [search, userId]
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

components:
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: integer
          example: 10
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        userId:
          type: integer
          example: 1
    User:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        firstName:
          type: string
        lastName:
          type: string
    ApiResponse:
      type: object
      properties:
        results:
          description: Successful payload
        errors:
          type: array
          items: { type: string }
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
      required: [code, message]

  requestBodies:
    User:
      description: User object to be created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
    Contact:
      description: Contact object to be created or updated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Contact'
    Contacts:
      description: List of contacts to be added
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Contact'

  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
